.contenedor{
    display: grid;
    grid-template-areas: 
        "enc enc"
        "menu menu"
        "img1 img1"
        "contenido login"
        "img2 img2"
        "pie pie";
        grid-template-columns: 5fr 2fr;
        grid-template-rows: 25vh 15vh 50vh 100vh 50vh 10vh;
}
header{grid-area: enc;}
nav{grid-area: menu;}
.contenedor-img1{
    grid-area: img1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
main{grid-area: contenido;}
aside{grid-area: login;}
.contenedor-img2{
    grid-area: img2;
    display: flex;
}
.contenedor-img2>img{width: 14.28%;}
footer{grid-area: pie;}